.nav .menu {
    background-color: var(--background-color);
    width: 80px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s ;
    position: fixed;
    right: 0;
    z-index:100;
}
.nav .menu:hover {
    width: 250px;
    background-color:transparent;
}
body:has(.menu:hover) .main {
    filter: blur(7px);
    pointer-events: none;
}
.nav .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0c111c;
    padding: 3px;
    transition: 1s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1); 
}
.nav .menu:hover .logo {
    transform: translateX(-50%) scale(1.5); 
}
.nav img {
    width: 30px;
    transition: 0.3s ease;
}
.nav .list {
    list-style: none;
    position: relative;
    height: 95%;
}
.nav .list li a {
    display: flex;
    gap: 25px;
    padding: 5px;
    margin: 7px 0;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    text-transform:capitalize;
    font-weight: 900;
    letter-spacing: 3px;
    flex-direction: row-reverse;
}
.nav .list li a p{
    color: var(--font-color);
    font-family: monospace;
    font-size: 25px;
}
.nav .list li::after{
    content: "";
    background-color: #ffcb74;
    display: flex;end
    justify-content: flex-start;
    width: 0px;
    height: 5px;
    border-radius: 15px;
}
.nav .list li:hover::after{
    animation-name: width;
    animation-duration: 1.5s; 
    animation-fill-mode:forwards;
}
.nav .list li a:hover{
    background-color: #3e3e5e83;
}
@keyframes width {
    to{
        width: 100%;
    }
}
.nav .list .actav {
    pointer-events: none;
    background-color: var(--color);
}
.nav .log-out {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.nav .list .log-out a{
    display: flex;
    background-color: #ff0000;
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}
.nav .list .log-out a:hover{
    background-color: #c80000;
}
.nav .list .log-out a p{
    color: #fff;
    font-family: monospace;
    font-size: 25px;
    text-transform:uppercase;
    font-weight: 900;
}
