body {
  background-color: #1e1e2f;
  color: #ffcb74;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  min-height: 100vh;
  font-size: 20px;


}

h1 {
  color: #8c52ff;
  font-size: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.description {
  font-size: 17px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

select {
  background-color: #2d2d44;
  color: #ffcb74;
  border: 1px solid #8c52ff;
  padding: 12px 18px;
  margin: 15px;
  border-radius: 8px;
  font-size: 1em;
  width: 250px;
}

select:focus {
  outline: none;
  border-color: #ffcb74;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #2d2d44;
  color: #ffcb74;
  border: 1px solid #8c52ff;
  padding: 12px 18px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #3a0032;
}

button {
  background-color: #8c52ff;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
  margin: 15px 5px;
}

button:hover {
  background-color: #a06cff;
  transform: scale(1.05);
}

#fileName {
  margin-top: 10px;
  color: #ffcb74;
  font-size: 0.95em;
}
